.Product-Card {
  max-width: 400px;
  max-height: 600px;
  margin: 15px;
  border: solid;
  border-width: 1px;
  position: relative;

  img {
    width: 100%;
    max-width: 400px;
  }
  h3 {
    font-size: 28px;
    text-transform: uppercase;
  }
  span {
    padding: 5px;
  }
  p {
    padding-bottom: 30px;
  }
  .Card-Buttons {
    position: absolute;
    bottom: 0;
    :hover {
      transform: scale(2);
      background-color: rgba(81, 255, 0, 0.863);
    }
  }
}
